.but.opc, .exp:after, .edu:after, .exp .hgroup h6 span.current, .fact-list li:first-child, #toTop i, .title:before, .filter li a.active,
.post-meta li.date, .sk-cube-grid .sk-cube, .but.brd:hover, .block-table .col-md-3:nth-child(3) .table, *::-moz-selection, .rating span  {
    background: #009473;
}


p.short-email a, .menu li a i, .but.brd, .serv-ico span.ico, .block-price, .socials li a, .hb-list ul li span, .post a.more, .info-ico span.ico,
.socials.round li a:hover, .but.opc:hover, .block-table .col-md-3:nth-child(3) .but:hover, .block-price span.dollar  {
    color: #009473;
}

.but.brd {
    border: 2px solid #009473;
}



.fact-list li:nth-child(2) {
    background: #018265;
}


.fact-list li:nth-child(3) {
    background: #017158;
}


.fact-list li:last-child {
    background: #01604b;
}



.thumbs li a span {
    background-color: rgba(0, 148, 115, 0.9);
}


.block-table .col-md-3:nth-child(3) .table::before {
    border-bottom: 30px solid #009473;
}


.hb-list ul li span {
    border: 1px solid #009473;
}


.filter li a.active {
    border: 2px solid #018265;
}

.block-table .col-md-3:nth-child(3) .table{
	border: 1px solid #009473;
}

